github "billypchan/wire-ios-cryptobox" ~> 26.0.2
github "billypchan/wire-ios-protos" ~> 27.0.3
github "billypchan/wire-ios-images" ~> 34.0.1
github "wireapp/PINCache" "2.3-xcframework"
github "billypchan/wire-ios-transport" ~> 76.0.3
github "billypchan/wire-ios-link-preview" ~> 30.0.2
