github "wireapp/wire-ios-cryptobox" "feature/xcframework"
github "wireapp/wire-ios-protos" "feature/xcframework"
github "wireapp/wire-ios-images" "feature/xcframework"
github "wireapp/PINCache" "2.3-xcframework"
github "wireapp/wire-ios-transport" "feature/xcframework"
github "wireapp/wire-ios-link-preview" "feature/xcframework"
